{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">NavBil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
            <li class="nav-item">
                <a class="nav-link" href="#">Your Order</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                <li><a class="dropdown-item" href="#">Privacy and Security</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Account</a></li>
                </ul>
            </li>
        
            </ul>
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 20px;">
        <!-- <div style="border: 2px solid #3f3cff; background-color: #0586ff; padding: 10px; color: #fff;">
            <h1 style="margin: 0; padding: 0;">AplikasiBilly</h1>
        </div> -->
        <h1>
            <span style="background-color: #50cbff; padding: 5px; border-radius: 10px; color: #fff;">AplikasiBilly</span>
        </h1>
        
        <div style="margin-bottom: 20px; margin-top: 20px;">
            <h5 style="display: inline;">Name:</h5>
            <p style="display: inline;">{{name}}</p>
        </div>
    
        <div style="margin-bottom: 20px;">
            <h5 style="display: inline;">Class:</h5>
            <p style="display: inline;">{{class}}</p>
        </div>
     
       
    
        <h5>
            <p>Your Item</p>
        </h5>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.date_added }}</td>
                        <td>
                            <a href="{% url 'main:edit_item' item.pk %}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{% url 'main:delete_item' item.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <br />
    
        <a href="{% url 'main:create_item' %}" class="btn btn-outline-success" style="background-color: #00A65E; border-color: #00A65E; color: #fff;">
            <!-- <i class="bi bi-plus"></i> Add New Item -->
            Add New Item <i class="bi bi-plus"></i>
        </a>
    
        <a href="{% url 'main:logout' %}" class="btn btn-danger">
            <!-- <button>
                Logout
            </button> -->
            <i class="bi bi-box-arrow-right"></i> Logout
        </a>
    
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
    
{% endblock content %}
